.about
  padding-top: 45px           
  > .content
      .half
        position: relative
        .company-profile
          height: 300px
          background-image: url(../img/zcy-scroll-img1.png)
          background-size: cover
          .shade
            opacity: 0.95
            background-color: #FE5B45
            width: 100%
            height: 100%
        .logo
          z-index: 2
          position: absolute
          top: 50%
          left: 50%
          margin-top: -36px
          margin-left: -130px

      .grey-bg
        padding: 30px
        background: #F8F8F8
        .div
          max-width: 250px
          padding: 20px
          margin: 20px
  #business-overview-div
    background: #F8F8F8
    padding: 65px
    .title
      margin-bottom: 30px
      font-size: 30px
    .content
      color: #020B2D