.contact_us
  padding-top: 45px
  > .content
      min-width: 750px
      .half
        position: relative
        .contact-us
          height: 300px
          background-image: url(../img/zcy-scroll-img1.png)
          background-size: cover
          .shade
            opacity: 0.95
            background-color: #FE5B45
            width: 100%
            height: 100%
        .logo
          z-index: 2
          position: absolute
          top: 50%
          left: 50%
          margin-top: -36px
          margin-left: -130px
      .grey-bg
        min-height: 156px
        padding-top: 72px
        padding-left: 104px
        background: #F8F8F8
        .code
          padding-right: 42px
          float: left
        .info
          border-left: solid 1px
          padding-left: 42px
          float: left
          div
            margin-bottom: 12px
            font-size: 18px
            color: #24344E
          img
            width: 22px
            height: 22px
