.header
  background: white
  z-index: 999
  position: fixed
  box-shadow: 1px 1px 5px rgba(39, 41, 56, 0.2)
  height: 70px
  width: 100%
  top: 0
  div
    &.logo-area
      font-size: 15px;
      float: left
      margin-top: 16px;
      margin-left: 50px;
    &.top-nav-wrapper
      float: right
    ul
      li
        width: 110px
        float: left
        list-style-type: none
        a
          border-left: solid 1px
          color: #545a6b
          display: block
          line-height: 14px
          padding: 0 15px
          text-decoration: none
          &:visited 
            color: #545a6b
          &:hover
            color: #FE5B45
          &.active 
            color: #FE5B45
          div
            text-align: center
