body
  margin: 0
  font-family: '微软雅黑'
  font-size: 14px
.mb-5
  margin-bottom: 5px
.info-block
  max-width: 600px
  margin-left: auto
  margin-right: auto
  position: relative
  top: 200px
  .title
    font-size: 25px
    color: red
    float: left
    height: 100px
    border-right: solid 1px
    border-right-color: grey
    padding-right: 25px
    margin-right: 30px
  .content
    width: 300px
    float: left
    .row
      width: 100%
      line-height: 30px
      .content-key
        float: left
        width: 20%
      .content-value
        float: left
        width: 80%

.index
  height: 700px
  background-size: cover
  background-image: url(../img/index-background.png)
  .center-div
    position: relative
    top: 189px
    text-align: center
    margin-left: auto
    margin-right: auto
    color: #00BCD4
    .zcy-title
      font-size: 50px
    .border
      width: 66px
      height: 1px
      margin: auto
      background: #00BCD4
    .zcy-detail
      font-size: 34px
  .bottom-div
    position: relative
    top: 436px
    min-width: 950px
    margin-left: 50px
    margin-right: 50px
    >div
      display: inline-block
    .bottom-left
      font-size: 10px
      color: #FFFFFF
      left: 50px
      width: 740px
      height: 51px
      background-color: rgba(0, 188, 212, 0.27)      
      padding-top: 19px
      padding-left: 23px
      padding-right: 23px
      padding-bottom: 18px
      >div
        display: inline-block

      .left-1
        .more-info
          padding-top: 5px
          width: 32px
          color: #F6E401
      .left-2
        div:nth-child(2)
          margin-top: 2px
          margin-bottom: 2px
      .left-3
        margin-left: 35px
        div:nth-child(2)
          margin-top: 2px
          margin-bottom: 2px
        a
          text-decoration: none
          color: white
          &:visited
            color: white
          &:hover
            color: red
          &.active 
            color: black
      .circle
        border: 1px solid #FFFFFF
        display: inline-block
        width: 5px
        height: 5px
        border-radius: 100%
        margin-right: 2px
        margin-bottom: 2px
    .bottom-right
      float: right
      vertical-align: bottom
      .contain
        width: 120px
        height: 57px
        border: solid 1px #00BCD4
        border-radius: 4px
        padding: 10px
        color: #00BCD4
        .title
          font-size: 20px
        .detail
          font-size: 10px

for i in (1...13)
 .col-{i}
  width: (i/12)*100%
  float: left
.zcy-orange
  color: #FE5B45
/*
  侧边导航栏样式
*/
.side-nav
  ul
    li
      list-style-type: none
      a
        text-decoration: none
        color: #888888
        &:visited
          color: #888888
        &:hover
          color: #FE5B45
        &.active 
          color: #FE5B45
        .li-zh
          font-size: 15px
          margin-bottom: 4px
        .li-en
          font-size: 10px
      margin-bottom: 15px

.row
  display: inline-block
/*
  正文外边距等于header高度
*/
.main-body
  margin-top: 70px
  width: 100%
  