body
  margin: 0
  font-family: '微软雅黑'
  font-size: 14px
.mb-5
  margin-bottom: 5px

&.body-index
  height: 100%
.index
  margin-top: 0 !important
  padding-top: 70px
  height: 100%
  box-sizing: border-box
  background-size: cover
  .center-div
    position: relative
    top: 20%
    text-align: center
    margin-left: auto
    margin-right: auto
    .zcy-detail-zh
      font-size: 32px
    .zcy-detail-en
      padding-top: 26px
      padding-bottom: 26px
      font-size: 14px
      color: #24344E
      div
        &:first-child
          margin-bottom: 6px
    .zcy-sub-detail
      font-size: 18px
  .bottom-div
    position: relative
    top: 60%
    min-width: 950px
    margin-left: 50px
    margin-right: 50px
    >div
      display: inline-block
    .bottom-left
      color: #FFFFFF
      left: 50px
      width: 740px
      height: 51px
      background-color: rgba(255, 255, 255, 0.27)      
      padding-top: 19px
      padding-left: 23px
      padding-right: 23px
      padding-bottom: 18px
      >div
        display: inline-block
        float: left
      a
        font-size: 10px
        text-decoration: none
        color: white
        &:visited
          color: white
        &:hover
          color: #FE5B45
        &.active 
          color: black
      .left-1
        font-size: 10px
        .more-info
          float: left
          padding-top: 5px
          width: 32px
          color: #F6E401
        .icon-more
          float: left
          position: relative
          top: 8px
          left: -6px
      .left-2
        font-size: 10px
        div:nth-child(2)
          margin-top: 10px
          margin-bottom: 10px
          margin-right: 18px
      .left-3
        font-size: 10px
        margin-top: -4px
        padding-left: 17px
        border-left: solid 1px
        div:nth-child(2)
          margin-top: 10px
          margin-bottom: 10px
      .circle
        border: 1px solid #FFFFFF
        display: inline-block
        width: 5px
        height: 5px
        border-radius: 100%
        margin-right: 2px
        margin-bottom: 2px
    .bottom-right
      float: right
      margin-top: 26px
      a
        text-decoration: none
      .contain
        width: 120px
        height: 40px
        border: solid 1px #FE5B45
        border-radius: 4px
        padding: 10px
        color: #FE5B45
        .title
          text-align: right
          font-size: 20px
          margin-bottom: 6px
        .detail
          font-size: 10px

for i in (1...13)
 .col-{i}
  width: (i/12)*100%
  float: left
.zcy-orange
  color: #FE5B45
/*
  侧边导航栏样式
*/
.side-nav
  ul
    padding-left: 150px
    margin-top: 29px
    li
      list-style-type: none
      margin-bottom: 15px
      a
        text-decoration: none
        color: #888888
        &:visited
          color: #888888
        &:hover
          color: #FE5B45
        &.active 
          color: #FE5B45
        .li-zh
          font-size: 16px
          margin-bottom: 4px
        .li-en
          font-size: 10px

.row
  display: inline-block
/*
  正文外边距等于header高度
*/
.main-body
  margin-top: 70px
  width: 100%

/*
  旋转180度
*/
.reversal
  -webkit-transform: rotate(-180deg)
  -moz-transform: rotate(-180deg)
  -ms-transform: rotate(-180deg)
  -o-transform: rotate(-180deg)
  transform: rotate(-180deg)
  