body
  margin: 0
  font-family: '微软雅黑'
  font-size: 14px
.mb-5
  margin-bottom: 5px

.index
  height: 700px
  background-size: cover
  background-image: url(../img/index-background.png)
  .center-div
    position: relative
    top: 189px
    text-align: center
    margin-left: auto
    margin-right: auto
    .zcy-detail-zh
      font-size: 32px
    .zcy-detail-en
      padding-top: 26px
      padding-bottom: 26px
      font-size: 14px
      color: #24344E
    .zcy-sub-detail
      font-size: 18px
  .bottom-div
    position: relative
    top: 436px
    min-width: 950px
    margin-left: 50px
    margin-right: 50px
    >div
      display: inline-block
    .bottom-left
      font-size: 10px
      color: #FFFFFF
      left: 50px
      width: 740px
      height: 51px
      background-color: rgba(255, 255, 255, 0.27)      
      padding-top: 19px
      padding-left: 23px
      padding-right: 23px
      padding-bottom: 18px
      >div
        display: inline-block
        float: left
      a
        text-decoration: none
        color: white
        &:visited
          color: white
        &:hover
          color: #FE5B45
        &.active 
          color: black
      .left-1
        .more-info
          float: left
          padding-top: 5px
          width: 32px
          color: #F6E401
        .icon-more
          float: left
          position: relative
          top: 8px
          left: -6px
      .left-2
        div:nth-child(2)
          margin-top: 10px
          margin-bottom: 10px
      .left-3
        margin-top: -4px
        margin-left: 35px
        div:nth-child(2)
          margin-top: 10px
          margin-bottom: 10px
      .circle
        border: 1px solid #FFFFFF
        display: inline-block
        width: 5px
        height: 5px
        border-radius: 100%
        margin-right: 2px
        margin-bottom: 2px
    .bottom-right
      float: right
      vertical-align: bottom
      a
        text-decoration: none
      .contain
        width: 120px
        height: 40px
        border: solid 1px #FE5B45
        border-radius: 4px
        padding: 10px
        color: #FE5B45
        .title
          text-align: right
          font-size: 20px
        .detail
          font-size: 10px

for i in (1...13)
 .col-{i}
  width: (i/12)*100%
  float: left
.zcy-orange
  color: #FE5B45
/*
  侧边导航栏样式
*/
.side-nav
  ul
    li
      list-style-type: none
      a
        text-decoration: none
        color: #888888
        &:visited
          color: #888888
        &:hover
          color: #FE5B45
        &.active 
          color: #FE5B45
        .li-zh
          font-size: 15px
          margin-bottom: 4px
        .li-en
          font-size: 10px
      margin-bottom: 15px

.row
  display: inline-block
/*
  正文外边距等于header高度
*/
.main-body
  margin-top: 70px
  width: 100%
  