.join_us
  padding-top: 45px
  > .content
      #corporate-culture-div
        min-width: 852px
      .half
        position: relative
        .corporate-culture
          height: 300px
          background-image: url(../img/zcy-scroll-img1.png)
          background-size: cover
          .shade
            opacity: 0.95
            background-color: #FE5B45
            width: 100%
            height: 100%

      .grey-bg
        padding: 30px
        background: #F8F8F8
        .left-1
          font-size: 20px
          color: #24344E
          margin-left: 78px
          margin-top: 19px