.news
  background-size: cover
  background-image: url(../img/index-background.png)
  display: inline-block
  .content
    background: rgba(255,255,255,0.27)
    margin-left: auto
    margin-right: auto
    margin-top: 45px
    margin-bottom: 100px
    padding: 50px
    width: 80%
    min-width: 700px
    min-height:400px
    .zh
      font-size: 18px
    .en
      font-size: 14px
    .left
      float: left
      width: 28%
      text-align: right
      padding-right: 30px
    .right
      float: left
      padding-left: 30px
      border-left: solid 1px #FE5B45
      .detail
        margin-bottom: 15px
        a
          text-decoration: none
          color: #020B2D
          &:visited
            color: #020B2D
          &:hover
            color: #FE5B45
          &.active 
            color: #FE5B45
        div
          display: inline-block
          margin-left: 5px
        .circle-icon
          border: 1px solid #FE5B45
          display: inline-block
          width: 8px
          height: 8px
          border-radius: 100%
          margin-right: 2px
          margin-bottom: 2px
        .title
          width: 400px
          word-break: break-all
