.news
  background-size: cover
  background-image: url(../img/index-background.png)
  display: inline-block
  .content
    background: rgba(255,255,255,0.19)
    margin-left: auto
    margin-right: auto
    margin-top: 45px
    margin-bottom: 100px
    padding: 50px
    padding-top: 85px
    width: 80%
    min-width: 700px
    min-height:400px
    .zh
      font-size: 18px
    .en
      font-size: 12px
    .left
      float: left
      width: 20%
      text-align: right
      padding-right: 50px
    .right
      color: #4A4A4A
      float: left
      padding-left: 50px
      border-left: solid 1px #FE5B45
      .detail
        line-height: 19px
        margin-bottom: 22px
        a
          text-decoration: none
          color: #4A4A4A
          &:visited
            color: #4A4A4A
          &:hover
            color: #FE5B45
          &.active 
            color: #FE5B45
        div
          display: inline-block
          margin-left: 5px
        .circle-icon
          vertical-align: middle
          border: 1px solid #FE5B45
          display: inline-block
          width: 8px
          height: 8px
          border-radius: 100%
          margin-right: 2px
          margin-bottom: 2px
        .title
          vertical-align: top
          width: 400px
          word-break: break-all
        .date
          vertical-align: top
