.zcy
  &.main
    section
      img
        position: absolute
        top: 0
      .page_container
        position: absolute
        top: 0
        z-index: 2
        h1
          margin: 0
          font-size: 30px
      