.zcy
  &.main
    section
      img
        position: absolute
      .page_container
        position: absolute
        background: rgba(255,255,255,0.33)
        width: 672px
        height: 146px
        display: table
        div
          font-size: 26px
          text-align: center
          display: table-cell
          vertical-align: middle
      .positionRD
        top: 380px
        right: 50px
      .positionC
        position: relative
        top: 50%
        margin: 0 auto
        margin-top: -73px

      