<div class="about body-main">
  <div class="title tabs">
    <ul>
      <li>
        <a href="#tabs-1">公司简介</a>
      </li>
      <li>
        <a href="#tabs-2">业务简介</a>
      </li>
      <li>
        <a href="#tabs-3">乐采味儿</a>
      </li>
    </ul>
    <span class="tabulousclear"></span>
    <div id="tabs_container">
      <div id="tabs-1">
        <div class="info">
          <div class="info-title">
            乐采云
          </div>
          <div class="info-content">
            aaaaaaaaaaaaag
          </div>
        </div>
      </div>
      <div id="tabs-2" class="hidescale">
        <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla<a href="http://www.dowebok.com/"></a>, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor.</p>
      </div>
      <div id="tabs-3" class="hidescale">
        <div class="">
          
        </div>
      </div>
    </div>
  </div>

</div>

