<div class="contact_us body-main">
  <div class="info-block">
    <div class="title">
      联系我们
    </div>
    <div class="content">
      <div class="row">
        <div class="content-key">
          电话：
        </div>
        <div class="content-value">
          0571-12345678
        </div>
      </div>
      <div class="row">
        <div class="content-key">
          邮箱：
        </div>
        <div class="content-value">
          zcy@cai-inc.com
        </div>
      </div>
      <div class="row">
        <div class="content-key">
          地址：
        </div>
        <div class="content-value">
          杭州市西湖区转塘镇
        </div>
      </div>

    </div>
  </div>
</div>