<div class="contact_us row main-body">
  <div class="side-nav col-3">
    <ul>
      <li>
        <a href="javascript:;" class="active">
          <div class="li-zh">联系我们</div>
          <div class="li-en">Contact us</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div id="contact-us-div" class="tab-content">
      <div class="half">
        <div class="logo">
          <img src="../img/zcy-logo-white.png">
        </div>
        <div class="contact-us">
          <div class="shade">       
          </div>
        </div>
      </div>
      <div class="grey-bg">
        <div class="code">
          <img src="../img/contact-us-code.svg" onerror="this.onerror=null;this.src="../img/contact-us-code.png"">
        </div>
        <div class="info">
          <div>
            <img src="../img/contact-us-phone.svg" onerror="this.onerror=null;this.src="../img/contact-us-phone.png"">
            <span>咨询热线：400-881-7190</span>            
          </div>
          <div>
            <img src="../img/contact-us-email.svg" onerror="this.onerror=null;this.src="../img/contact-us-email.png"">
            <span>合作邮箱：bd_public@cai-inc.com</span>
          </div>
          <div>
            <img src="../img/contact-us-locate.svg" onerror="this.onerror=null;this.src="../img/contact-us-locate.png"">
            <span>浙江乐采云网络科技有限公司  中国杭州·云栖小镇</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>