<div class="index main-body">
  <div class="center-div">
    <div class="zcy-title">
      政采云
    </div>
    <div class="border">
    </div>
    <div class="zcy-detail">
      全国一体化政府采购平台
    </div>
  </div>
  <div>
    
  </div>
  <div class="bottom-div">
    <div class="bottom-left">
      <div class="left-1">
        <img src="../img/index-notice.png">
        <div class="more-info">
          更多资讯
        </div>
      </div>
      <div class="left-2">
        <div>
          <div class="circle"></div>
          <span>浙江省财政厅关于实施电子卖场（网上超市）试点工作的通知</span>
        </div>
        <div>
          <div class="circle"></div>
          <span>国务院办公厅关于印发整合建立统一的公共资源交易平台工作方案的通知</span>
        </div>
        <div>
          <div class="circle"></div>
          <span>中华人民共和国财政部令第74号《政府采购非招标采购方式管理办法》</span>
        </div>
      </div>
      <div class="left-3">
        <div>
          <img src="../img/index-phone.png">
          <span>咨询热线：400-881-7190</span>
        </div>
        <div>
          <img src="../img/index-email.png">
          <span>合作邮箱：bd_public@cai-inc.com</span>
        </div>
        <div>
          <img src="../img/index-hyperlink.png">
          <span>友情链接：
            <a href="javascript:;">财政部</a>
            <a href="javascript:;">中国政府采购网</a>
            <a href="javascript:;">浙江省政府</a>
          </span>
        </div>
      </div>
    </div>
    <div class="bottom-right">
      <div class="contain">
        <div class="title">
          政采云
        </div>
        <div class="detail">
          一站式政府采购云平台
        </div>
      </div>
      <div class="array">
        <span></span>
      </div>
      <div>
        
      </div>
    </div>
  </div>
</div>