<div class="join_us row main-body">
  <div class="side-nav col-3">
    <ul>
      <li>
        <a href="javascript:;" name="corporate-culture" class="active">
          <div class="li-zh">企业文化</div>
          <div class="li-en">Corporate culture</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="happy-work">
          <div class="li-zh">快乐工作</div>
          <div class="li-en">Happy work</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="team-building">
          <div class="li-zh">团队建设</div>
          <div class="li-en">Team building</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="office-environment">
          <div class="li-zh">办公环境</div>
          <div class="li-en">Office environment</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="recruitment">
          <div class="li-zh">人才招聘</div>
          <div class="li-en">Recruitment</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="welfare-and-compensation">
          <div class="li-zh">薪酬福利</div>
          <div class="li-en">Welfare and compensation</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div id="corporate-culture-div" class="tab-content">
      <div class="half">
        <div class="corporate-culture">
          <div class="shade">
            <div>
              构建新一代的政企服务生态圈
            </div>
            <img class="logo" src="../img/join-us-1.svg" onerror="this.onerror=null;this.src="../img/join-us-1.svg""></img>
          </div>
        </div>
      </div>
      <div class="grey-bg">
        <div class="left-1 row">
          企业价值观：
        </div>
        <div class="left-2 row">
          <div>
            <img src="../img/join-us-3.svg">
          </div>
        </div>
      </div>
    </div>
    <div id="happy-work-div" class="tab-content" hidden>
      <div class="title">
        学习型组织文化
      </div>
      <div class="content">
        <p>
          1.工作中成长（项目煅炼、复盘、辅导沟通……）
        </p>
        <p>
          2.学习与分享（业务分享、专题分享、职业通用技能分享、主题沙龙、微课堂……）
        </p>
        <p>
          3.新人培训（百乐门）
        </p>
        <p>
          4.老人培训（业务培训、专题培训、人才梯队高潜培训……）
        </p>
        <p>
          5.管理培训（阿里三板斧、新晋管理培训、……）
        </p>
        <p>
          6.业务培训（外出交流、专题、专家）
        </p>
      </div>
    </div>
    <div id="team-building-div" class="tab-content" hidden>
      <div class="topical">
        <span class="title">丰富多彩的团队活动</span>
        <span class="sub-title">团建</span>
        <span class="sub-title">Outing</span>
        <span class="sub-title">兴趣小分队</span>
      </div>
      <div>
        <div>
          <img src="../img/team-building-1.png">
          <img src="../img/team-building-2.png">
          <img src="../img/team-building-3.png">
        </div>
        <div>
          <img src="../img/team-building-4.png">
          <img src="../img/team-building-5.png">
          <img src="../img/team-building-6.png">
        </div>
        <div>
          <img src="../img/team-building-7.png">
          <img src="../img/team-building-8.png">
          <img src="../img/team-building-9.png">
        </div>
      </div>
    </div>
    <div id="office-environment-div" class="tab-content" hidden>
      <div class="topical">
        <div class="title">
          云栖小镇
        </div>
        <div class="description">
          云栖小镇是西湖区计划依托阿里巴巴云公司和转塘科技经济园区这两大平台，把杭州转塘科技经济园区打造成一个以云生态为主导的产业小镇。
        </div>
      </div>
      <div>
        <div>
          <img src="../img/office-env-1.png">
          <img src="../img/office-env-2.png">
          <img src="../img/office-env-3.png">
        </div>
        <div>
          <img src="../img/office-env-4.png">
          <img src="../img/office-env-5.png">
          <img src="../img/office-env-6.png">
        </div>
        <div>
          <img src="../img/office-env-7.png">
          <img src="../img/office-env-8.png">
          <img src="../img/office-env-9.png">
        </div>
        <div>
          <img src="../img/office-env-10.png">
          <img src="../img/office-env-11.png">
          <img src="../img/office-env-12.png">
        </div>
      </div>
    </div>
    <div id="recruitment-div" class="tab-content" hidden>
      <div class="content">
        <div class="position">
          <div class="job-title">
            <span class="category col-2">产品技术类</span>
            <span class="total-count col-8">岗位人数：<label class="zcy-orange">39</label></span>
            <span class="toggle-icon col-1">
              <a href="javascript:;"><img src="../img/toggle-icon.svg" onerror="this.onerror=null; this.src="../img/toggle-icon.png""></a>
            </span>
          </div>
          <div class="job-list">
            <div class="job-detail">
              <div class="job-name">
                项目经理
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、负责公司级、跨域或者单域的项目/项目群的管理工作，从项目前期规划到后期收尾完整的项目生命周期管控，用专业化的项目过程管理来保证项目目标的达成；<br>
                  2、参与采购类项目需求分析，方案设计和方案确立；<br>
                  3、负责合作伙伴项目的管理，跟进协调各参与方的资源，完成系统对接，SOP审核，流程测试等全部实施过程，确保项目按时按质上线；<br>
                  4、参与后期运营，制定运营目标，跟合作伙伴共同完成运营指标。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、有项目管理经验，擅长项目实施和控制；<br>
                  2、善于沟通协调，最好有内部项目管理培训经验，有政府项目管理背景者优先；<br>
                  3、有招投标、协议采购相关业务背景优先；<br>
                  4、本科或以上学历。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  1人
                </div>
              </div>
            </div>
            <div class="job-detail">
              <div class="job-name">
                资深产品经理
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、负责B2B交易平台及后台供应商管理、商品管理、用户管理、审批管理等相关产品的整体规划和产品设计方案；<br>
                  2、跟进用户需求梳理业务流程，产出产品解决方案；<br>
                  3、负责产品的发展规划和阶段性目标；<br>
                  4、把握用户需求和动向，持续改进产品；<br>
                  5、负责产品相关的日常运营工作，产品运营数据分析等。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、4年以上电商交易平台、ERP、企业采购相关产品的设计、维护经验；<br>
                  2、能够在复杂的环境下灵活控制并推进分析合作型项目的进展,需要很强的逻辑思维能力，分析与洞察能力以及解决问题能力；<br>
                  3、具备项目管理、需求分析、文档编写、demo设计等基本的文档输出能力；<br>
                  4、熟练掌握AxureRPPro等原型交互设计软件；<br>
                  5、具备优秀的学习能力,能够自我驱动,较好的沟通和协作能力。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  3人
                </div>
              </div>
            </div>
            <div class="job-detail">
              <div class="job-name">
                交互设计师
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、负责乐采云采购平台相关产品的交互设计，对现有产品的可用性测试和评估提出改进方案，持续优化产品的用户体验；<br>
                  2、根据设计需求和用户研究的结果完成产品概念、功能信息架构、操作流程以及最终高保真原型设计；<br>
                  3、结合业务和设计需求，协同和推动视觉、前端及技术团队进行设计可行性和易用性评审，跨团队推动设计还原，并在进程中快速迭代和改善体验问题；<br>
                  4、持续跟踪和关注上线产品，并通过竞品分析，结合可用性测试及数据分析结果，完成交互行为和功能的优化，持续提升产品的使用体验。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、3年以上互联网视觉设计经验，有丰富web或无线设计经验,有相关平台上的设计经验；<br>
                  2、对各种互联网产品或常用软件有强烈兴趣并有灵敏触觉，富有创造力和激情；<br>
                  3、强逻辑思维能力，熟练掌握业务需求分析、产品需求分解的技巧；<br>
                  4、有一定视觉设计和XHTML/CSS等相关岗位的技术和技能优先。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  1人
                </div>
              </div>
            </div>
            <div class="job-detail">
              <div class="job-name">
                视觉设计师
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、负责产品界面设计与执行,提出对产品界面设计的见解,把控产品最终界面实现效果；<br>
                  2、对视觉设计,视觉理念有准确的把握,具备细节与优化的意识,能融会各种表现形式;有色彩搭配及审美能力；<br>
                  3、参与定义产品总体UI的界面风格,色彩,布局；<br>
                  4、参与用户图形界面分析,用户体验设计等创意策划工作；<br>
                  5、负责整体品牌视觉风格和VI设计。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、有较强的GUI界面设计能力,优秀的美术功底;美术院校专业毕业优先；<br>
                  2、三年以上信息产品界面设计相关工作经验,需有实际案例或相关设计作品;并且熟练应用相关的图形设计软件和动画设计软件；<br>
                  3、必须具备出色的视觉表现能力,审美意识,和良好的逻辑思维能力；<br>
                  4、具备良好的沟通能力,以及设计师的创造力,想象力,激情和进取精神；<br>
                  5、具备较强设计展现能力,以及界面设计的执行能力。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  1人
                </div>
              </div>
            </div>
            <div class="job-detail">
              <div class="job-name">
                前端开发工程师
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、利用HTML/CSS/JavaScript等各种Web技术进行产品的界面开发;<br>
                  2、根据业务需求，基于Android/iOS平台进行应用程序开发；<br>
                  3、制作标准优化的代码，并增加交互动态功能；<br>
                  4、进行丰富互联网的Web开发，致力于通过技术改善用户体验；<br>
                  5、参与讨论制订Web前端框架。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、三年以上前端工作经验；<br>
                  2、熟悉各种Web前端技术，了解各浏览器的差异、原理；<br>
                  3、深刻理解Web标准，对可用性、可访问性等相关知识有实际的了解和实践经验；<br>
                  4、具有2年以上Android/iOS软件研发工作经验，对面向对象程序设计思想有深刻的理解；<br>
                  5、至少熟悉一门非Web前端脚本的语言（如Java/PHP/C++/NodeJS），并有项目经验；<br>
                  6、个性乐观开朗，逻辑性强，善于和各种背景的人合作；<br>
                  7、有过无线前端/HTML5开发经验者优先。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  3人
                </div>
              </div>
            </div>
            <div class="job-detail">
              <div class="job-name">
                JAVA开发工程师
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、主持和参与系统逻辑模型和物理模型设计并实现原型，并能主导某个系统；<br>
                  2、为系统引入创新的技术、创新的解决方案，用创新的思路解决问题；<br>
                  3、具有一定的项目规划和决策能力，并给出有效的解决措施和方法；<br>
                  4、发现和解决存在的性能瓶颈等技术难题。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、JAVA基础扎实，理解io、多线程、集合等基础框架，对JVM原理有一定的了解；<br>
                  2、3年以上Java项目开发经验，对于你用过的开源框架，能了解到它的原理和机制；<br>
                  3、深熟悉分布式系统的设计和应用，熟悉分布式、缓存、消息、搜索\推荐等机制；能对分布式常用技术进行合理应用，解决问题；<br>
                  4、精通Internet基本协议（如TCP/IP、HTTP等）内容及相关应用；<br>
                  5、喜欢尝试最新的技术，关注新的思维，并能从技术趋势和思路上能影响产品；<br>
                  6、有安全、大型网站、企业ERP、企业采购相关行业开发经验优先考虑。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  30人
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position">
          <div class="job-title">
            <span class="category col-2">运营类</span>
            <span class="total-count col-8">岗位人数：<label class="zcy-orange">8</label></span>
            <span class="toggle-icon col-1">
              <a href="javascript:;"><img src="../img/toggle-icon.svg" onerror="this.onerror=null; this.src="../img/toggle-icon.png""></a>
            </span>
          </div>
          <div class="job-list">
            <div class="job-detail">
              <div class="job-name">
                运营经理
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、负责政采云网站的策划、组织和整体推广，并执行，配合平台功能和模式改进计划，制定相关运营计划；<br>
                  2、对公司网站进行整体规划:内容建设、网站布局、网站结构方面的规划及网站功能测试及维护管理；<br>
                  3、汇总分析运营数据，做出有效的运营策略，提升网站用户粘性和留存率；<br>
                  4、负责推广渠道的维护和整合；
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、具有互联网电商从业3年以上经验，在电商内容运营上有扎实的基础和经验，具备独立规划和落地推动的能力；<br>
                  2、对数据敏感，有一定的数据分析能力；具有想象力和创造力，活动策划能力；<br>
                  3、具有良好的沟通表达能力；较强的文字表达能力，有一定的文案功底；<br>
                  4、强的执行力，有较强的抗压能力。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  1人
                </div>
              </div>
            </div>
            <div class="job-detail">
              <div class="job-name">
                行业运营
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、根据所负责品类的季节、人群特性，制定全年的品类规划并且整合内外部资源在营销、搜索类目导航、频道等用户路径上进行落地；<br>
                  2、根据本行业品类的需求，制定卖家的运营策略，形成良好的卖家梯队:头部卖家有爆发力，腰部卖家有成长性；<br>
                  3、制定或优化运营方案，制定运营规则，通过平台化、产品化、数据化方式推进运营目标实现；<br>
                  4、擅长导购、营销（品牌营销，价值营销），善于整合渠道，能够营造市场氛围，拉动市场成交规模增长，提升买家粘度。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、了解政府用户购物特性，熟悉政府企业行业特征及用户需求；<br>
                  2、政府采购相关从业经验，有2年以上电商从业经验；如果在行业上有非常深的造诣，电商经验可以放宽；
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  3人
                </div>
              </div>
            </div>
            <div class="job-detail">
              <div class="job-name">
                网站运营
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、制定网站总体及阶段性的发展规划、运营战略，实现网站运营目标；<br>
                  2、对公司网站进行整体规划:内容建设、网站布局、网站结构方面的规划及网站功能测试及维护管理；<br>
                  3、负责网站的整体运营（管理用户需求分析、网站架构设计、产品设计、网站优化与推广、流量分析等工作）；<br>
                  4、有效构建和管理网络推广渠道和合作伙伴体系；<br>
                  5、分析市场需求，制定网络营销战略、并提出互动营销解决方案。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、本科以上学历，网络营销、电子商务类专业；<br>
                  2、了解互联网的特质，熟悉网站的运作推广的各种方式，拥有成功的推广经验和良好的互联网资源；
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  2人
                </div>
              </div>
            </div>
            <div class="job-detail">
              <div class="job-name">
                产品运营
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、深入研究政府单位的采购习惯，把握采购人在预算执行、采购决策、报销结算中的关键因素，找到政府客户个性需求，提升客户的使用体验，促进平台的成交量；<br>
                  2、能独当一面进行业务规划并组织和把控跨团队的合作项目、落地执行，并取得相应的目标，善于借力合作；<br>
                  3、擅长推广策划，能制定可行的产品方案并有效执行，对运营策略有独到见解；<br>
                  4、对竞品相关功能进行分析，分析产品间的差异，并持续关注竞品动态；<br>
                  5、有数据分析能力，能对产品和市场数据进行分析，并以此为依据推进产品改进。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、熟悉互联网，至少有3年以上电商平台经验或有互联网产品和移动互联网产品的运营经验；<br>
                  2、具备良好的总结意识和分析习惯，善于提高产品体验和用户满意度；<br>
                  3、能独当一面进行业务规划并组织和把控跨团队的合作项目、落地执行，并取得相应的目标，善于借力合作；<br>
                  4、责任心强，坚持不懈的精神，性格积极乐观，良好的服务意识，学习能力、抗压能力和团队合作精神；<br>
                  5、能适应创业文化，并能够主动传递创业文化给团队。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  2人
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position">
          <div class="job-title">
            <span class="category col-2">商务类</span>
            <span class="total-count col-8">岗位人数：<label class="zcy-orange">3</label></span>
            <span class="toggle-icon col-1">
              <a href="javascript:;"><img src="../img/toggle-icon.svg" onerror="this.onerror=null; this.src="../img/toggle-icon.png""></a>
            </span>
          </div>
          <div class="job-list">
            <div class="job-detail">
              <div class="job-name">
                ISV拓展专家
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、政府采购平台的业务拓展，负责:政府采购模块，政府服务(SAAS)，政府软件，根据行业特性以及政府采购平台的能力与特点来拓展客户；<br>
                  2、负责挖掘相关客户的潜在需求，形成商业机会，并能并通过政府采购平台以及合作伙伴的能力满足客户需求并推动政府采购体系的完善；<br>
                  3、构建政府采购互联网行业的生态圈体系，发展政府服务行业ISV；<br>
                  4、全面负责商务流程，协调公司内外部资源，推动与完成项目。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、有5年以上IT从业经验，对研发、平台基本知识有一定了解；<br>
                  2、有相关行业的销售、售前工作经验者优先；<br>
                  3、具有良好的沟通能力、表达能力，团队意识强，具有较强的客户开发能力和市场拓展能力，有较强的抗压能力；<br>
                  4、学习能力强，有激情，勇于接受挑战，善于开拓创新。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  1人
                </div>
              </div>
            </div>
            <div class="job-detail">
              <div class="job-name">
                政府采购解决方案专家
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、进行政府采购企业级市场需求分析、竞争对手产品分析，提出产品规划建议。<br>
                  2、作为产品技术专家，参加客户交流和市场活动。<br>
                  3、整合自有平台和第三方服务完善解决方案，与合作伙伴一起探索新的行业机会。<br>
                  4、负责维护解决方案相关的合作伙伴，确保产品技术合作的顺利开展。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、善于思考，有较强的学习能力、分析判断能力、沟通协调能力。<br>
                  2、对政府采购业务，政府服务业务需求有深刻理解。<br>
                  3、熟悉软件许可和服务报价体系，熟悉软件开发工作量计算方法。<br>
                  4、五年以上解决方案类工作经验。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  2人
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position">
          <div class="job-title">
            <span class="category col-2">后台支持类</span>
            <span class="total-count col-8">岗位人数：<label class="zcy-orange">4</label></span>
            <span class="toggle-icon col-1">
              <a href="javascript:;"><img src="../img/toggle-icon.svg" onerror="this.onerror=null; this.src="../img/toggle-icon.png""></a>
            </span>
          </div>
          <div class="job-list">
            <div class="job-detail">
              <div class="job-name">
                资深培训专家
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、针对具体培训对象，进行培训需求调研、课程设计与开发；<br>
                  2、培训项目的执行，包括课前的会务工作；课中的引导和促动；课后的效果评估和追踪；<br>
                  3、根据业务发展方向和客户需求，不断完善培训项目，推进并完善平台的客户体验及推广；<br>
                  4、进行培训渠道的拓展和管理；
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、本科以上学历，3年以上的培训工作经验；<br>
                  2、有专业的系统性的课程设计与开发能力；<br>
                  3、思维敏捷，具有优秀的组织、协调、沟通能力及分析问题、解决问题的能力，良好的文字和语言表达能力；<br>
                  4、对行业的有思考有创新能力。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  2人
                </div>
              </div>
            </div>
            <div class="job-detail">
              <div class="job-name">
                资深法务专家
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、负责公司及业务团队的日常法律支持、咨询，及时高效反馈提出的日常问题；<br>
                  2、起草/审核/修订日常商务合同，起草模板合同并定期复盘，跟进合同履行情况；<br>
                  3、参与业务讨论，识别日常经营可能存在的法律风险及突发事件，共同研究解决方案；<br>
                  4、向公司内部同事提供法律咨询意见、合同解释以及进行相应的培训。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、取得法律专业的学士或以上学位；<br>
                  2、取得中国律师资格；<br>
                  3、至少5年以上律师事务所或公司内部法务工作经验；<br>
                  4、具有3年及以上从事互联网或IT行业的法律工作经验者优先考虑；<br>
                  5、具有较强的学习能力、独立思考能力、沟通能力及团队合作精神。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  2人
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position">
          <div class="job-title">
            <span class="category col-2">数据类</span>
            <span class="total-count col-8">岗位人数：<label class="zcy-orange">7</label></span>
            <span class="toggle-icon col-1">
              <a href="javascript:;"><img src="../img/toggle-icon.svg" onerror="this.onerror=null; this.src="../img/toggle-icon.png""></a>
            </span>
          </div>
          <div class="job-list">
            <div class="job-detail">
              <div class="job-name">
                数据仓库专家
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、参与政府采购平台的数据仓库\数据集市的建设，负责整体设计和指导团队落地，实现对政府采购业务数据化运营的基础支撑；<br>
                  2、参与并推动政府采购大数据平台建设，设计并实现对BI分析、数据产品开发、算法开发的系统性支持；<br>
                  3、研究未来数据模型和计算框架的创新与落地，包括但不限于以下领域:大规模数据实时化、研发模式敏捷化、数据计算框架轻量化、数据模型组织方式业务化等方面,参与制定并实践团队的技术发展路线；<br>
                  4、参与公司数据价值商业化的探索与创新。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、具备5年以上DW系统建设经验；了解数据仓库建设过程中的挑战与问题，有作为技术负责人系统化解决问题的成功案例；有海量数据建模实践经验优先；<br>
                  2、熟悉业界数据仓库建模方法及新的建模方法的发展；熟悉目前正在发展的大数据分布式平台前沿技术的应用；
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  4人
                </div>
              </div>
            </div>
            <div class="job-detail">
              <div class="job-name">
                数据分析
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、根据政采云的业务场景，构建业务指标体系，建立和完善日常业务报告体系，能够及时、准确、完整的披露；<br>
                  2、商业嗅觉灵敏同时善于沟通，能够深入了解业务挖掘业务问题和痛点，针对业务问题进行深度诊断性组合分析、挖掘和建模，通过商业分析为公司运营决策、产品方向、销售策略提供数据支持；<br>
                  3、通过大数据挖掘用户群体行为和属性特征，帮助业务更好的理解客户；<br>
                  4、通过数据报告、产品和建模成果影响和改变业务方，推动业务部门的数据化运营。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、三年以上相关工作经历，统计、数学、信息技术或其他相关硕士以上学历；<br>
                  2、丰富的大项目的经验，有丰富的跨团队、部门的项目资源整合能力；<br>
                  3、具备大数据的处理能力，掌握hive、SQL等相关数据提取工具，熟练操作excel、SAS；<br>
                  4、良好的商业嗅觉，有丰富的数据分析、挖掘和建模的经验；<br>
                  5、熟练独立编写商业数据分析报告，及时发现和分析其中隐含的变化和问题。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  3人
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="welfare-and-compensation-div" class="tab-content" hidden>
      <div class="title">
        <img src="../img/welfare-logo.svg" onerror="this.onerror=null;this.src="../img/welfare-logo.png"">
        <span class="zcy-orange">薪酬福利</span>
      </div>
      <div class="content">
        <div>
          <div class="sub-title">
            <img src="../img/left-triangle-icon.svg" onerror="this.onerror=null;this.src="../img/left-triangle-icon.png"">
            <span>现金薪酬</span>
          </div>
          <div class="detail">
            月薪：月底发放当月工资<br>
            奖金：根据员工的年度绩效，提供不同档次的年终奖金，优秀员工奖金更丰厚
          </div>
        </div>
        <div>
          <div class="sub-title">
            <img src="../img/left-triangle-icon.svg" onerror="this.onerror=null;this.src="../img/left-triangle-icon.png"">
            <span>长期激励</span>
          </div>
          <div class="detail">
            期权奖励：根据员工的年度绩效，奖励优秀员工绩效股权<br>
            特殊奖励：年度表现优秀者，还有不同类型的特殊奖励
          </div>
        </div>
        <div>
          <div class="sub-title">
            <img src="../img/left-triangle-icon.svg" onerror="this.onerror=null;this.src="../img/left-triangle-icon.png"">
            <span>薪酬福利</span>
          </div>
          <div class="detail">
            学习与成长：每周分享会；依据不同的成长需求定制的培训主题等<br>
            健康福利：每年全面的健康体检+医疗补充保险<br>
            年假： 7-15天的带薪休假<br>
            餐补:中餐及晚餐补贴<br>
            <br>
            我们每年都参加同行业的薪酬福利市场调研，以确保公司员工的薪酬在同行业内
            具备良好的竞争力；同时根据业绩导向，为不同的职能人员制定了完善的绩效奖
            金计划或业务提成计划，同时对于特别优秀的同学，有上不封顶的薪酬回报和独
            特的培养体系。
          </div>
        </div>
      </div>
    </div>
  </div>
</div>