<div class="join_us row main-body">
  <div class="side-nav col-3">
    <ul>
      <li>
        <a href="javascript:;" name="corporate-culture" class="active">
          <div class="li-zh">企业文化</div>
          <div class="li-en">Corporate culture</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="happy-work">
          <div class="li-zh">快乐工作</div>
          <div class="li-en">Happy work</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name=" happy-work">
          <div class="li-zh">团队建设</div>
          <div class="li-en">Team building</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="happy-work">
          <div class="li-zh">办公环境</div>
          <div class="li-en">Office environment</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="happy-work">
          <div class="li-zh">人才招聘</div>
          <div class="li-en">Recruitment</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="happy-work">
          <div class="li-zh">薪酬福利</div>
          <div class="li-en">Welfare and Compensation</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="content col-8">
    <div id="corporate-culture-div" class="tab-content">
      <div class="half">
        <div class="corporate-culture">
          <div class="shade">
            <img class="logo" src="../img/join_us-1.png"></img>
          </div>
        </div>
      </div>
      <div class="grey-bg">
        <div class="left-1">
          客户、同事、伙伴
        </div>
        <div>
        </div>
      </div>
    </div>
    <div id="happy-work-div" class="tab-content" hidden>
      <div class="zcy-orange title">
        政府采购云平台
      </div>
      <div class="content">
        <p>
          “政采云”平台以阿里集团“阿里云”技术平台为基础，集“网上交易、网上监管和网上服务”于一体，具体包括基础层IaaS平台、中间层PaaS平台、业务层SaaS平台三个平台，其中IaaS层直接采用“阿里云”技术平台成熟的产品和服务，PaaS层和SaaS层则均需甲乙双方合资设立
          的公司(以下简称“合资公司”结合政府采购业务需求和政府监管要求，选择总集成商和专业的ISV，依托阿里集团在技术平台和电商运营的经验，组成联合开发队伍进行开发建设。
        </p>
        <p>
          （一）PaaS层平台的具体模块包括但不限于：用户中心、权限中心、元数据中心、待办中心、应用开发平台、应用运行容器、开放平台、应用市场等基础应用。PaaS层平台应同时保证第三方开发团队可使用PaaS平台进行SaaS应用的生产和交易。
        </p>
        <p>
          （二）SaaS层平台的具体模块包括不限于：标准商品库、供应商库、专家库等基础数据库，网上超市、在线询价、协议供货等交易管理系统，政府采购评价、诚信、预警、视频监控等监管系统，以及传统项目招投标管理系统(包括网上开标、评标、监标等)等。
        </p>
      </div>
    </div>
  </div>
</div>