<div class="join_us row main-body">
  <div class="side-nav col-3">
    <ul>
      <li>
        <a href="javascript:;" name="corporate-culture" class="active">
          <div class="li-zh">企业文化</div>
          <div class="li-en">Corporate culture</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="happy-work">
          <div class="li-zh">快乐工作</div>
          <div class="li-en">Happy work</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="team-building">
          <div class="li-zh">团队建设</div>
          <div class="li-en">Team building</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="office-environment">
          <div class="li-zh">办公环境</div>
          <div class="li-en">Office environment</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="recruitment">
          <div class="li-zh">人才招聘</div>
          <div class="li-en">Recruitment</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" name="welfare-and-compensation">
          <div class="li-zh">薪酬福利</div>
          <div class="li-en">Welfare and compensation</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="content col-8">
    <div id="corporate-culture-div" class="tab-content" hidden>
      <div class="half">
        <div class="corporate-culture">
          <div class="shade">
            <img class="logo" src="../img/join_us-1.png"></img>
          </div>
        </div>
      </div>
      <div class="grey-bg">
        <div class="left-1 row">
          客户、同事、伙伴
        </div>
        <div class="left-2 row">
          <div>
            <img src="../img/join_us-tick.png">
            <span>合理的规则、程序的共同约定</span>
          </div>
          <div>
            <img src="../img/join_us-tick.png">
            <span>技能和资源的共享</span>
          </div>
          <div>
            <img src="../img/join_us-tick.png">
            <span>达成共同的目标</span>
          </div>
          <div>
            <img src="../img/join_us-tick.png">
            <span>互相尊重并且乐于协助</span>
          </div>
        </div>
      </div>
    </div>
    <div id="happy-work-div" class="tab-content" hidden>
      <div class="title">
        学习型组织文化
      </div>
      <div class="content">
        <p>
          1.工作中成长（项目煅炼、复盘、辅导沟通……）
        </p>
        <p>
          2.学习与分享（业务分享、专题分享、职业通用技能分享、主题沙龙、微课堂……）
        </p>
        <p>
          3.新人培训（百乐门）
        </p>
        <p>
          4.老人培训（业务培训、专题培训、人才梯队高潜培训……）
        </p>
        <p>
          5.管理培训（阿里三板斧、新晋管理培训、……）
        </p>
        <p>
          6.业务培训（外出交流、专题、专家）
        </p>
      </div>
    </div>
    <div id="team-building-div" class="tab-content" hidden>
      <div class="topical">
        <span class="title">丰富多彩的团队活动</span>
        <span class="sub-title">团建</span>
        <span class="sub-title">Outing</span>
        <span class="sub-title">兴趣小分队</span>
      </div>
      <div>
        <div>
          <img src="../img/team-building-1.png">
          <img src="../img/team-building-2.png">
          <img src="../img/team-building-3.png">
        </div>
        <div>
          <img src="../img/team-building-4.png">
          <img src="../img/team-building-5.png">
          <img src="../img/team-building-6.png">
        </div>
        <div>
          <img src="../img/team-building-7.png">
          <img src="../img/team-building-8.png">
          <img src="../img/team-building-9.png">
        </div>
      </div>
    </div>
    <div id="office-environment-div" class="tab-content" hidden>
      <div class="topical">
        <div class="title">
          云栖小镇
        </div>
        <div class="description">
          云栖小镇是西湖区计划依托阿里巴巴云公司和转塘科技经济园区这两大平台，把杭州转塘科技经济园区打造成一个以云生态为主导的产业小镇。
        </div>
      </div>
      <div>
        <div>
          <img src="../img/office-env-1.png">
          <img src="../img/office-env-2.png">
          <img src="../img/office-env-3.png">
        </div>
        <div>
          <img src="../img/office-env-4.png">
          <img src="../img/office-env-5.png">
          <img src="../img/office-env-6.png">
        </div>
        <div>
          <img src="../img/office-env-7.png">
          <img src="../img/office-env-8.png">
          <img src="../img/office-env-9.png">
        </div>
        <div>
          <img src="../img/office-env-10.png">
          <img src="../img/office-env-11.png">
          <img src="../img/office-env-12.png">
        </div>
      </div>
    </div>
    <div id="recruitment-div" class="tab-content" hidden>
      <div class="content">
        <div class="position">
          <div class="job-title">
            <span class="category col-2">产品技术类</span>
            <span class="total-count col-8">岗位人数：<label class="zcy-orange">39</label></span>
            <span class="toggle-icon col-1">
              <a href="javascript:;"><img src="../img/toggle-icon.png"></a>
            </span>
          </div>
          <div class="job-list">
            <div class="job-detail">
              <div class="job-name">
                项目经理
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、负责公司级、跨域或者单域的项目/项目群的管理工作，从项目前期规划到后期收尾完整的项目生命周期管控，用专业化的项目过程管理来保证项目目标的达成；<br>
                  2、参与采购类项目需求分析，方案设计和方案确立；<br>
                  3、负责合作伙伴项目的管理，跟进协调各参与方的资源，完成系统对接，SOP审核，流程测试等全部实施过程，确保项目按时按质上线；<br>
                  4、参与后期运营，制定运营目标，跟合作伙伴共同完成运营指标。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、有项目管理经验，擅长项目实施和控制；<br>
                  2、善于沟通协调，最好有内部项目管理培训经验，有政府项目管理背景者优先；<br>
                  3、有招投标、协议采购相关业务背景优先；<br>
                  4、本科或以上学历。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  1人
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position">
          <div class="job-title">
            <span class="category col-2">产品技术类</span>
            <span class="total-count col-8">岗位人数：<label class="zcy-orange">39</label></span>
            <span class="toggle-icon col-1">
              <a href="javascript:;"><img src="../img/toggle-icon.png"></a>
            </span>
          </div>
          <div class="job-list">
            <div class="job-detail">
              <div class="job-name">
                项目经理
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、负责公司级、跨域或者单域的项目/项目群的管理工作，从项目前期规划到后期收尾完整的项目生命周期管控，用专业化的项目过程管理来保证项目目标的达成；<br>
                  2、参与采购类项目需求分析，方案设计和方案确立；<br>
                  3、负责合作伙伴项目的管理，跟进协调各参与方的资源，完成系统对接，SOP审核，流程测试等全部实施过程，确保项目按时按质上线；<br>
                  4、参与后期运营，制定运营目标，跟合作伙伴共同完成运营指标。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、有项目管理经验，擅长项目实施和控制；<br>
                  2、善于沟通协调，最好有内部项目管理培训经验，有政府项目管理背景者优先；<br>
                  3、有招投标、协议采购相关业务背景优先；<br>
                  4、本科或以上学历。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  1人
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position">
          <div class="job-title">
            <span class="category col-2">产品技术类</span>
            <span class="total-count col-8">岗位人数：<label class="zcy-orange">39</label></span>
            <span class="toggle-icon col-1">
              <a href="javascript:;"><img src="../img/toggle-icon.png"></a>
            </span>
          </div>
          <div class="job-list">
            <div class="job-detail">
              <div class="job-name">
                项目经理
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、负责公司级、跨域或者单域的项目/项目群的管理工作，从项目前期规划到后期收尾完整的项目生命周期管控，用专业化的项目过程管理来保证项目目标的达成；<br>
                  2、参与采购类项目需求分析，方案设计和方案确立；<br>
                  3、负责合作伙伴项目的管理，跟进协调各参与方的资源，完成系统对接，SOP审核，流程测试等全部实施过程，确保项目按时按质上线；<br>
                  4、参与后期运营，制定运营目标，跟合作伙伴共同完成运营指标。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、有项目管理经验，擅长项目实施和控制；<br>
                  2、善于沟通协调，最好有内部项目管理培训经验，有政府项目管理背景者优先；<br>
                  3、有招投标、协议采购相关业务背景优先；<br>
                  4、本科或以上学历。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  1人
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position">
          <div class="job-title">
            <span class="category col-2">产品技术类</span>
            <span class="total-count col-8">岗位人数：<label class="zcy-orange">39</label></span>
            <span class="toggle-icon col-1">
              <a href="javascript:;"><img src="../img/toggle-icon.png"></a>
            </span>
          </div>
          <div class="job-list">
            <div class="job-detail">
              <div class="job-name">
                项目经理
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、负责公司级、跨域或者单域的项目/项目群的管理工作，从项目前期规划到后期收尾完整的项目生命周期管控，用专业化的项目过程管理来保证项目目标的达成；<br>
                  2、参与采购类项目需求分析，方案设计和方案确立；<br>
                  3、负责合作伙伴项目的管理，跟进协调各参与方的资源，完成系统对接，SOP审核，流程测试等全部实施过程，确保项目按时按质上线；<br>
                  4、参与后期运营，制定运营目标，跟合作伙伴共同完成运营指标。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、有项目管理经验，擅长项目实施和控制；<br>
                  2、善于沟通协调，最好有内部项目管理培训经验，有政府项目管理背景者优先；<br>
                  3、有招投标、协议采购相关业务背景优先；<br>
                  4、本科或以上学历。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  1人
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position">
          <div class="job-title">
            <span class="category col-2">产品技术类</span>
            <span class="total-count col-8">岗位人数：<label class="zcy-orange">39</label></span>
            <span class="toggle-icon col-1">
              <a href="javascript:;"><img src="../img/toggle-icon.png"></a>
            </span>
          </div>
          <div class="job-list">
            <div class="job-detail">
              <div class="job-name">
                项目经理
              </div>
              <div class="job-description">
                <div class="title">
                  岗位描述：
                </div>
                <div class="detail">
                  1、负责公司级、跨域或者单域的项目/项目群的管理工作，从项目前期规划到后期收尾完整的项目生命周期管控，用专业化的项目过程管理来保证项目目标的达成；<br>
                  2、参与采购类项目需求分析，方案设计和方案确立；<br>
                  3、负责合作伙伴项目的管理，跟进协调各参与方的资源，完成系统对接，SOP审核，流程测试等全部实施过程，确保项目按时按质上线；<br>
                  4、参与后期运营，制定运营目标，跟合作伙伴共同完成运营指标。
                </div>
              </div>
              <div class="job-requirements">
                <div class="title">
                  岗位要求：
                </div>
                <div class="detail">
                  1、有项目管理经验，擅长项目实施和控制；<br>
                  2、善于沟通协调，最好有内部项目管理培训经验，有政府项目管理背景者优先；<br>
                  3、有招投标、协议采购相关业务背景优先；<br>
                  4、本科或以上学历。
                </div>
              </div>
              <div class="job-count">
                <div class="title">
                  岗位人数：
                </div>
                <div class="detail">
                  1人
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="welfare-and-compensation-div" class="tab-content" hidden>
      <div class="title">
        <img src="../img/welfare_logo.png">
        <span></span>
      </div>
      <div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>