<!DOCTYPE html>
<html>
<head>
  <title>test</title>
  <!-- build:css({.tmp,app}) styles/main.css -->
  <!-- bower:css -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="stylesheet" type="text/css" href="styles/onepage-scroll.css">
  <!-- endbower -->
  <!-- endbuild -->
  <link rel="shortcut icon" href="img/favicon.png">
</head>
<body class="body-<%= url %>">
  <% include common/header %>
  <%- include(url) %>
</body>

<!-- build:js({.tmp,app})  scripts/scripts.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<% if (url == "zcy") {%>
<script src="scripts/jquery.onepage-scroll.js"></script>
<% } %>
<script src="scripts/zcy.js"></script>
<script src="scripts/about.js"></script>
<script src="scripts/join_us.js"></script>
<!-- endbower -->
<!-- endbuild -->
</html>