<!DOCTYPE html>
<html>
<head>
  <title>test</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="stylesheet" type="text/css" href="styles/onepage-scroll.css">
  <link rel="shortcut icon" href="img/zcy-scroll-img1.png">
</head>
<body class="body-<%= url %>">
  <% include common/header %>
  <%- include(url) %>
</body>

<script src="jquery/dist/jquery.js"></script>
<% if (url == "zcy") {%>
<script src="scripts/jquery.onepage-scroll.js"></script>
<% } %>
<script src="scripts/zcy.js"></script>
<script src="scripts/about.js"></script>
<script src="scripts/join_us.js"></script>
</html>