<div class="news main-body">
  <div class="content">
    <div class="left">
      <div class="zcy-orange">
        <div class="zh">
          最新资讯
        </div>
        <div class="en">
          News
        </div>
      </div>
    </div>
    <div class="right">
      <div class="detail">
        <div class="circle-icon">
        </div>
        <a href="http://www.zjzfcg.gov.cn/detailPage?type=2&ID=669283" target="_blank">
          <div class="title">
            浙江省财政厅关于实施电子卖场（网上超市）试点工作的通知
          </div>
        </a>
        <div>
          2016年5月18日
        </div>
      </div>
      <div class="detail">
        <div class="circle-icon">
        </div>
        <a href="http://www.gov.cn/zhengce/content/2015-08/14/content_10085.htm" target="_blank">
          <div class="title">
            国务院办公厅关于印发整合建立统一的公共资源交易平台工作方案的通知
          </div>
        </a>
        <div>
          2015年8月10日
        </div>
      </div>
      <div class="detail">
        <div class="circle-icon">
        </div>
        <a href="http://www.ccgp.gov.cn/zcfg/mof/201401/t20140103_4650784.htm" target="_blank">
          <div class="title">
            中华人民共和国财政部令第74号《政府采购非招标采购方式管理办法》
          </div>
        </a>
        <div>
          2014年01月03日
        </div>
      </div>
      <div class="detail">
        <div class="circle-icon">
        </div>
        <a href="http://www.ccgp.gov.cn/zcfg/mof/201310/t20131029_3587691.htm" target="_blank">
          <div class="title">
            财政部关于印发《全国政府采购管理交易系统建设总体规划》和《政府采购业务基础数据规范》的通知
          </div>
        </a>
        <div>
          2013年02月26日
        </div>
      </div>
    </div>
  </div>
</div>