<div class="zcy main main-body">
  <section class="page1" style="position: absolute; top: 0%; left: 0px;">
    <div class="page_container positionRD">
      <div class="zcy-orange">政采云，一体化政府采购云平台<br>三大特色（平台统一、采管双线、四库共享）
      </div>
    </div>
  </section>
  <section class="page2" style="position: absolute; top: 0%; left: 0px;">
    <div class="page_container positionC">
      <div class="zcy-orange">政采云，以安全、稳定、开放的云计算服务为核心（IaaS、 PaaS、SaaS）
      </div>
    </div>
  </section>
  <section class="page3" style="position: absolute; top: 0%; left: 0px;">
    <div class="page_container positionC">
      <div class="zcy-orange">政采云，推动政府采购阳光透明、高效廉洁
      </div>
    </div>
  </section>
  <section class="page4" style="position: absolute; top: 0%; left: 0px;">
    <div class="page_container positionC">
      <div class="zcy-orange">政采云，共建“政采”领域的大数据生态
      </div>
    </div>
  </section>
</div>
