<div class="zcy main main-body">
  <section class="page1">
	  <div class="page_container">
      <h1>政采云，一站式政府采购云平台</h1>
    </div>
    <img src="../img/zcy-scroll-img1.png">
    <div class="page_container">
      <h1>政采云，一站式政府采购云平台</h1>
    </div>
  </section>
  <section class="page2">
    <img src="../img/zcy-scroll-img2.png">
  </section>
  <section class="page3">
  	<img src="../img/zcy-scroll-img3.png">
  </section>
  <section class="page4">
  	<img src="../img/zcy-scroll-img4.png">
  </section>
</div>
