<div class="zcy main">
  <section class="page1">
    <div class="page_container">
      <h1>政采云，一站式政府采购云平台</h1>
    </div>
    <img src="../img/zcy-scroll-img1.png">
  </section>
  <section class="page2">
    <img src="../img/zcy-scroll-img2.png">
  </section>
</div>
