<div class="header">
  <div class="logo-area">
    <a href="./index">
      <img src="../img/lcy-logo-orange.png">
    </a>
  </div>
  <div class="top-nav-wrapper">
    <ul class="top-nav top-nav-right">
      <li id="nav-zcy">
        <a href="./zcy" <% if (url=="zcy"){ %>class="active"<% } %>>
          <div class="mb-5">
            GPCP
          </div>
          <div>
            政采云
          </div>
        </a>
      </li>
      <li id="nav-about">
        <a href="./about" <% if (url=="about"){ %>class="active"<% } %>>
          <div class="mb-5">
            About us
          </div>
          <div>
            关于我们
          </div>
        </a>
      </li>
      <li id="nav-contact-us">
        <a href="./contact_us" <% if (url=="contact_us"){ %>class="active"<% } %>>
          <div class="mb-5">
            Contact us
          </div>
          <div>
            联系我们
          </div>
        </a>
      </li>
      <li class="nav-join-us">
        <a href="./join_us" <% if (url=="join_us"){ %>class="active"<% } %>>
          <div class="mb-5">
            Join us
          </div>
          <div>
            加入我们
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>