<div class="header">
  <div class="logo-area">
    <a href="./index">
      <% if(url == 'index') { %>
        <img src="../img/lcy-logo.png">
      <% }else{ %>
        <img src="../img/lcy-logo-orange.png">
      <% } %>
    </a>
  </div>
  <div class="top-nav-wrapper">
    <ul class="top-nav top-nav-right">
      <li id='todo-nav'>
        <a href="./zcy" class="nav-toggle-btn">
          <div class="mb-5">
            ZhengcaiCloud
          </div>
          <div>
            政采云
          </div>
        </a>
      </li>
      <li id='msg-nav'>
        <a href="./about" class="nav-toggle-btn">
          <div class="mb-5">
            About us
          </div>
          <div>
            关于我们
          </div>
        </a>
      </li>
      <li>
        <a href="./contact_us" class="nav-toggle-btn">
          <div class="mb-5">
            Contact us
          </div>
          <div>
            联系我们
          </div>
        </a>
      </li>
      <li class="user-info-nav-item">
        <a href="./join_us" class="nav-toggle-btn">
          <div class="mb-5">
            Join us
          </div>
          <div>
            加入我们
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>